<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Document</title>
</head>
<body>


    <div class="box-quickfilter container-fluid">
        <div class="lst-quickfilter">
            <a href="" class="lst-box-items bd-radius">
                <img src="https://cdn.tgdd.vn/Brand/1/logo-iphone-220x48.png" width="100" class="no-text">
            </a>
            <a href="" class="lst-box-items bd-radius">
                <img src="https://cdn.tgdd.vn/Brand/1/samsungnew-220x48-1.png" width="100" class="no-text">
            </a>
            <a href="" class="lst-box-items bd-radius">
                <img src="https://cdn.tgdd.vn/Brand/1/OPPO42-b_5.jpg" width="100" class="no-text">
            </a>
            <a href="" class="lst-box-items bd-radius">
                <img src="https://cdn.tgdd.vn/Brand/1/vivo-logo-220-220x48-3.png" width="100" class="no-text">
            </a>
            <a href="" class="lst-box-items bd-radius">
                <img src="https://cdn.tgdd.vn/Brand/1/logo-xiaomi-220x48-5.png" width="100" class="no-text">
            </a>
            <a href="" class="lst-box-items bd-radius">
                <img src="https://cdn.tgdd.vn/Brand/1/Realme42-b_37.png" width="100" class="no-text">
            </a>
            <a href="" class="lst-box-items bd-radius">
                <img src="https://cdn.tgdd.vn/Brand/1/Nokia42-b_21.jpg" width="100" class="no-text">
            </a>
            <a href="" class="lst-box-items bd-radius">
                <img src="https://cdn.tgdd.vn/Brand/1/Itel42-b_54.jpg" width="100" class="no-text">
            </a>
            <a href="" class="lst-box-items bd-radius">
                <img src="https://cdn.tgdd.vn/Brand/1/Masstel42-b_0.png" width="100" class="no-text">
            </a>
        </div>
    </div>


    <div class="trending">
        <h4>XU HƯỚNG MUA SẮM</h4>
       <ul>
           <li>
               <a href="#">
                   <img src="https://cdn.tgdd.vn/2022/04/banner/Frame49172-280x235.png" alt="#">
                   <span>Điện thoại</span>
                   <strong>Galaxy A Series 2022</strong>
               </a>
           </li>
        <li>
            <a href="#">
                <img src="https://cdn.tgdd.vn/2022/04/banner/phukien-280x235.png" alt="#">
                <span>Tai nghe không dây</span>
                <strong>Giảm đến 50%</strong>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://cdn.tgdd.vn/2022/04/banner/phukien-280x235.png" alt="#">
                <span>Tai nghe không dây</span>
                <strong>Giảm đến 50%</strong>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://cdn.tgdd.vn/2022/04/banner/dongho-280x235-1.png" alt="#">
                <span>Smartwatch</span>
                <strong>Giảm đến 50%</strong>
            </a>
        </li>
    </ul>
    </div>


   <footer>
        <div class="container footer-ct">
            <div class="row">
                <div class="col-md-3">
                    <ul class="ul-style">
                        <li>
                            <a href="">Lịch sử mua hàng</a>
                        </li>
                        <li>
                            <a href="">Cộng tác bán hàng</a>
                        </li>
                        <li>
                            <a href="">Tìm hiểu về trả góp</a>
                        </li>
                        <li>
                            <a href="">Chính sách bảo hành</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="ul-style">
                        <li>
                            <a href="">Giới thiệu cửa hàng</a>
                        </li>
                        <li>
                            <a href="">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="">Gửi góp ý, khiếu nại</a>
                        </li>
                        <li>
                            <a href="">Đổi trả</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="ul-style">
                        <li>
                            <a href="">Tổng đài hỗ trợ (Miễn phí gọi)</a>
                        </li>
                        <li>
                            <a href="tel:18001234" style="color: blue;">Gọi mua: 18001234 (7:30 - 22:00)</a>
                        </li>
                        <li>
                            <a href=""style="color: blue;">Kỹ thuật: 18001234 (7:30 - 22:00)</a>
                        </li>
                        <li>
                            <a href=""style="color: blue;">Bảo hành: 18001234 (7:30 - 22:00)</a>
                        </li>
                        <li>
                            <a href=""style="color: blue;">Đổi trả: 18001234 (7:30 - 22:00)</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <ul class="ul-style" style="display: inline-flex;">
                        <li>
                            <a href="">
                                <img src="../img/img-bocongthuong.jpg" width="80" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img style="margin-top: 10px;" src="../img/img-bocongthuong2.jpg" width="80" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img style="margin-top: 10px;" src="../img/img-aninhmang.png" width="80" alt=""></a>
                        </li>
                    </ul>

                    <div class="col">
                        <p style="font-size:14px;font-weight: 500;">Website đối tác</p>
                        <ul class="ul-style-2" style="display: inline-flex;">
                            <li>
                                <a href="">
                                    <img src="../img/img-dienmayxanh.jpg" width="100" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../img/img-dienmayxanh.jpg" width="100" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../img/img-dienmayxanh.jpg" width="100" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../img/img-dienmayxanh.jpg" width="100" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
   </footer>
   
    <div class="footer-bot">
        <p>Dev by C & T</p>
    </div>
</body>
</html>